#Print Function

In [ ]:
print("Hello I'm doing Machine Learning Course")

Hello I'm doing Machine Learning Course

In [ ]:
print("Machine Learning"+" Projects")

Machine Learning Projects

In [ ]:
print(51)

51

In [ ]:
print(type(51))

<class 'int'>

In [ ]:
print(51+20)

71

In [ ]:
print(type("Harshit"))

<class 'str'>

#Basic Data Types in Python
  1. Integer
  2. Floating Point
  3. String
  4. Boolean
  5. Complex

In [ ]:
#Integer

num1 = 51
print(num1)
print(type(num1))

51
<class 'int'>

In [ ]:
#Floating Point

num2 = 51.20
print(num2)
print(type(num2))

51.2
<class 'float'>

In [ ]:
#String

Company = "Wipro"
print(Company)
print(type(Company))

Wipro
<class 'str'>

In [ ]:
#Complex Number

cnum = 5 + 1j
print(cnum)
print(type(cnum))

(5+1j)
<class 'complex'>

In [ ]:
#Boolean

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

#Data Type Conversion

In [ ]:
#Conversion From Integer to Float

number1 = 51
print(number1)
print(type(number1))
number = float(number1)
print(number)
print(type(number))

51
<class 'int'>
51.0
<class 'float'>

In [ ]:
#Conversion From Float to Integer

number2 = 51.20
print(number2)
print(type(number2))
number = int(number2)
print(number)
print(type(number))

51.2
<class 'float'>
51
<class 'int'>

#Constants & Variables

In [ ]:
Name = "Harshit Rathaur"
print(Name)

Name = "Harshit"
print(Name)

Harshit Rathaur
Harshit

In [ ]:
Name , Role , Company  = "Harshit Rathaur" , "Scholar Trainee" , "Wipro"
print(Name)
print(Role)
print(Company)

Harshit Rathaur
Scholar Trainee
Wipro

#input Function

In [ ]:
#To Get string as input

name = input("Enter Your Name: ")
print("Hi",name,"! Have a Nice Day ❤️")
type(name)

Enter Your Name: HARSHIT
Hi HARSHIT ! Have a Nice Day ❤️

str

In [ ]:
#To Get integer as input

num1 = int(input("Enter Valid integer: "))
print("You enterd:",num1)
type(num1)

Enter Valid integer: 51
You enterd: 51

int

In [ ]:
#To Get float as input

age = float(input("Enter Your age: "))
print("Your age is:",age,"yrs")
type(age)

Enter Your age: 20.1
Your age is: 20.1 yrs

float

#String Slicing & Concatenation

In [ ]:
#String Slicing

my_string = "Machine Learning"
print(my_string)
print(my_string[0:7]) # Print Values from index 0 to index 6
print(my_string[0:7:2]) # One Value is Skipped in each print
print(my_string[0:]) # Print from index 0 to end

Machine Learning
Machine
Mcie
Machine Learning

In [ ]:
#String Concatenation

First_Name = "Harshit"
Last_Name = "Rathaur"
print(First_Name+" "+Last_Name)

Harshit Rathaur

#Object Types in Python

  1. Immutable Objects
     a) Integer
     b) Float
     c) String
     d) Boolean
     e) Tuple

  2. Mutable Objects
     a) List
     b) Set
     c) Dictionary

**List**

In [ ]:
#List

l1 = ["Apple", "Orange", 20, 51]
print(l1)
print(type(l1))

['Apple', 'Orange', 20, 51]
<class 'list'>

In [ ]:
#List allows duplicates

l2 = ["Harshit", "Wipro", "HDFC", "Wipro"]
print(l2)

['Harshit', 'Wipro', 'HDFC', 'Wipro']

In [ ]:
#List len Function

l3 = [20, "Harshit", "Wipro", 51]
print(len(l3))

4

In [ ]:
#We can delete elements in list

l4 = ["Harshit","Rathaur","GPS","Wipro"]
print(l4)
del l4[2]
print(l4)

['Harshit', 'Rathaur', 'GPS', 'Wipro']
['Harshit', 'Rathaur', 'Wipro']

In [ ]:
#We can Join two lists

l4 = [1,2,3,5,4]
l5 = [6,7,8,9,10]
l6 = l4+l5
print(l6)

None

**Tuple**

In [ ]:
#Tuple Creation

tuple_1 = (5,1,2,0)
print(tuple_1)

(5, 1, 2, 0)

In [ ]:
#Tuple Allows multiple datatypes

tuple_2 = ("Harshit",True, 51, 51.20)
print(tuple_2)
print(type(tuple_2))

('Harshit', True, 51, 51.2)
<class 'tuple'>

In [ ]:
#Converting List into Tuple

my_list = [51,20,30,37]
print(my_list)
print(type(my_list))
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

[51, 20, 30, 37]
<class 'list'>
(51, 20, 30, 37)
<class 'tuple'>

In [ ]:
#Indexing

tuple_3 = ("Harshit", "Rathaur", "Wipro", "Private Limited", "Scholar Trainee")
print(tuple_3)
print(tuple_3[4])

('Harshit', 'Rathaur', 'Wipro', 'Private Limited', 'Scholar Trainee')
Scholar Trainee

In [ ]:
#Len Function

tuple_4 = ("Harshit", "Rathaur", "Wipro Private Limited", "HDFC Life", "Scholar Trainee")
print(tuple_4)
len(tuple_4)

('Harshit', 'Rathaur', 'Wipro Private Limited', 'HDFC Life', 'Scholar Trainee')

5

**Set**

In [ ]:
#Creating Set

set_1 = {2,4,3,5,6}
print(set_1)
type(set_1)

{2, 3, 4, 5, 6}

set

In [ ]:
#Set doesn't support indexing

set_2 = {45,67,53,51,20}
print(set_2)
# print(set_2[1])

{67, 51, 20, 53, 45}

In [ ]:
#Convert List into set

list_01 = [51,20,2020,90,100]
print(list_01)
print(type(list_01))
set_01 = set(list_01)
print(set_01)
print(type(set_01))

[51, 20, 2020, 90, 100]
<class 'list'>
{100, 2020, 51, 20, 90}
<class 'set'>

In [ ]:
#Duplicates not allowed in Set

set_3 = {51,51,51,20,20,20}
print(set_3)

{51, 20}

**Dictionary**

In [ ]:
dict_1 = {
    "Name" : "Harshit Rathaur",
    "Company" : "Wipro PVT LTD",
    "Role" : "Scholar Trainee"
}
print(dict_1)
type(dict_1)

{'Name': 'Harshit Rathaur', 'Company': 'Wipro PVT LTD', 'Role': 'Scholar Trainee'}

dict

In [ ]:
#Calling Values through Key

print(dict_1["Name"])
print(dict_1["Company"])
print(dict_1["Role"])

Harshit Rathaur
Wipro PVT LTD
Scholar Trainee

In [ ]:
#Duplicates not Allowed
dict_2 = {
    "Name" : "Harshit Rathaur",
    "Company" : "Wipro PVT LTD",
    "Role" : "Scholar Trainee",
    "Name" : "Harshit Rathaur"
}
print(dict_2)

{'Name': 'Harshit Rathaur', 'Company': 'Wipro PVT LTD', 'Role': 'Scholar Trainee'}

#Operators in Python

 1. Arithmetic Operators
 2. Assignment Operators
 3. Comparison Operators
 4. Logical Operators
 5. Identity Operators
 6. Membership Operators

**Arithmetic Operators**

In [ ]:
num1 = int(input("Enter First number: "))
num2 = int(input("Enter Second number: "))

#Arithmetic Operations
print("Sum =",num1 + num2)
print("Difference =",num1 - num2)
print("Product =",num1 * num2)
print("Quotient =",num1 / num2)
print(num1 ,"to the Power of",num2,"=",num1**num2)
print("Remainder after dividing",num1,"from number2=",num1%num)

Enter First number: 51
Enter Second number: 20
Sum = 71
Difference = 31
Product = 1020
Quotient = 2.55
51 to the Power of 20 = 14171098670753043575626125424226001
Remainder after dividing 51 from number2= 11

**Assignment Operators** ( =,
+= , -=, *=, /=, %=)

In [ ]:
num1 = 51
print(num1)
num1 +=20
print(num1)
num1 -=20
print(num1)

51
71
51

**Comparisation / Relational Operator**

In [ ]:
num1 = 51
num2 = 20
print(num1 > num2)
print(num1 < num2)
print(num1 == num2)
print(num1 != num2)
print(num1 <= num2)
print(num1 >= num2)

True
False
False
True
False
True

**Logical Operators** (and, or, not)

In [ ]:
num1 = 51
num1 = 52
#Logical And
print(num1 > num2 and num1 != num2)
print(num1 > num2 and num1 == num2)
#Logical Or
print(num1 == num2 or num1 > num2)
print(num1 < num2 or num1 == num2)
#Logical Not
print(not(num1 < num2 or num1 == num2))

True
False
True
False
True

**Identity Operator** (is, is not)

In [ ]:
num1 = 51
num2 = 20
print(num1 is num2)
print(num1 is not num2)

False
True

**Membership Operator** (in, not in)

In [ ]:
num1 = 51
num2 = 20
list1 = [1,2,3,4,5]

print(num1 in list1)
print(num2 not in list1)

False
True

#Conditional Statements

In [ ]:
age = int(input("Enter Your Age: "))
if(age>=18):
  print("You Can Vote & Drive.")
else:
  print("You Can't Vote & Drive")

Enter Your Age: 18
You Can Vote & Drive.

In [ ]:
#if elif Statement

print("Enter three number: \n")
num1 = int(input())
num2 = int(input())
num3 = int(input())
if(num3 > num1 and num3 >num2):
  print(num3, "is greatest")
elif(num2 > num1 and num2 > num3):
  print(num3, "is greatest")
else:
  print(num1, "is greatest")

Enter three number:

51
20
6
51 is greatest

In [ ]:
#Nested if

print("Enter three number: \n")
num4 = int(input())
num5 = int(input())
num6 = int(input())
if(num4>num6):
  if(num4>num5):
      print(num4, "is greatest")
elif(num5>num6):
  if(num5>num4):
      print(num5, "is greatest")
elif(num6>num5):
  if(num6>num5):
      print(num6, "is greatest")
else:
  print(num4,"=",num5,"=",num6)

Enter three number:

51
20
0
51 is greatest

#Loops in Python

In [2]:
#For Loop

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
numbers = [51,20,90,108,101]
for i in numbers:
  print(i)

51
20
90
108
101

In [10]:
#While Loop

i = 1
while (i<=10):
  print(i)
  i+=1 #i = i + 1

1
2
3
4
5
6
7
8
9
10

In [16]:
#Condition Not Satisfied

i = 5
while(i<3):
  print(i)

#Functions in Python

In [21]:
#Factorial Program using if-else

num1 = int(input("Enter Valid number: "))
factorial = 1
if(num1 == 0):
  print("Factorial of 0 is 1")
else:
  for i in range(1, num1+1):
    factorial = factorial * i
  print("The Factorial of",num1,"=",factorial)

Enter Valid number: 51
The Factorial of 51 = 1551118753287382280224243016469303211063259720016986112000000000000

In [27]:
#Factorial Program using Function

num2 = int(input("Enter Valid number: "))
def factorial_value(num2):
  factorial = 1
  if(num2 == 0):
    return factorial
  else:
    for i in range(1, num2+1):
      factorial = factorial * i
    print("The Factorial of",num2,"=",factorial)

factorial_value(num2)

Enter Valid number: 5
The Factorial of 5 = 120